apiVersion: v1
kind: Secret
metadata:
  name: citynexus-dev
  namespace: webprod
type: Opaque
stringData:
  APP_DEBUG: "false"
  APP_ENV: "dev"
  APP_KEY: "YOUR_APP_KEY"
  APP_NAME: "CityNexus Dev"
  APP_URL: "https://citynexus-dev.santaclarautah.gov"
  DB_CONNECTION: "mysql"
  DB_DATABASE: "citynexus_dev"
  DB_HOST: "apps.db.svc.cluster.local"
  DB_PASSWORD: "YOUR_DB_PASSWORD"
  DB_PORT: "3306"
  DB_USERNAME: "citynexus_dev"
  GOVTXT_DB_CONNECTION: "govtxt"
  GOVTXT_DB_DATABASE: "govtxt"
  GOVTXT_DB_HOST: "apps.db.svc.cluster.local"
  GOVTXT_DB_PASSWORD: "YOUR_GOVTXT_DB_PASSWORD"
  GOVTXT_DB_PORT: "3306"
  GOVTXT_DB_USERNAME: "citynexus_govtxt"
  KEYCLOAK_CLIENT_ID: "citynexus"
  KEYCLOAK_CLIENT_SECRET: "YOUR_KEYCLOAK_CLIENT_SECRET"
  KEYCLOAK_REDIRECT_URI: "https://citynexus-dev.santaclarautah.gov/auth/callback"
  KEYCLOAK_BASE_URL: "https://sso.santaclarautah.gov"
  KEYCLOAK_REALM: "SANTACLARA-DEV"
  KEYCLOAK_OPENID_CONNECT_PATH: "/protocol/openid-connect"
  SESSION_DRIVER: "database"
  SESSION_LIFETIME: "120"
  SESSION_DOMAIN: ".santaclarautah.gov"
  SESSION_SECURE_COOKIE: "true"
  SESSION_HTTP_ONLY: "true"
  SESSION_SAME_SITE: "lax"
  SERVICE_HEALTH_DB_HOST: "apps.db.svc.cluster.local"
  SERVICE_HEALTH_DB_PORT: "3306"
  SERVICE_HEALTH_DB_DATABASE: "ServiceHealth"
  SERVICE_HEALTH_DB_USERNAME: "servicehealth"
  SERVICE_HEALTH_DB_PASSWORD: "YOUR_SERVICE_HEALTH_DB_PASSWORD" 